@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100vh;
}

#app {
  height: 100%;
}

.dark {
  background-color: #232329;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color-scheme: dark;
}
